.App {
  text-align: center;
}

.student{
  display: inline-flexbox;
  flex-direction: column;
}
/* 
.allstar{
  float: right;
  height: 100px;
} */

.background{
  background-image: "https://i.pinimg.com/originals/48/c6/13/48c6137d9d1c1d80e137326cf71e4667.png";
}



.img{
  width: 350px;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
